@model HMS.Models.PackageBookingModel
@{
    var oPicture = Model.AccomodationPackage.PackagePictures.FirstOrDefault();
    var oUrl = oPicture != null ? oPicture.Picture.PicUrl : "default-image.jpg";
}
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/images/site/@oUrl);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner slider-text-inner2 text-center">
                                <h2>@Model.AccomodationPackage.AccomodationType.AccType</h2>
                                <h1>@Model.AccomodationPackage.PackageName</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            @*
                @if (Model.AccomodationPackage.PackagePictures != null && Model.AccomodationPackage.PackagePictures.Count > 0)
                {
                    foreach (var oPic in Model.AccomodationPackage.PackagePictures.Where(x => x.Picture.PicUrl != oUrl))
                    {
                        <li style="background-image: url(/images/site/@oPic.Picture.PicUrl);">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                        <div class="slider-text-inner slider-text-inner2 text-center">
                                            <h2>Accomodation Package</h2>
                                            <h1>@Model.AccomodationPackage.PackageName</h1>
                                            <h2>@Model.AccomodationPackage.AccomodationType.AccType</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    }
                }
            *@
        </ul>
    </div>
</aside>

<div id="colorlib-amenities">
    <div class="container">
        <div class="row">
            <div class="amenities-flex">
                <div class="desc animate-box">
                    <p class="price">
                        <span class="currency">$</span>
                        <span class="price-room">
                            @Model.AccomodationPackage.FeePerNight
                        </span>
                        <span class="per">/ per night</span>
                    </p>
                    <i class="icon-check"></i>
                    <strong>No. Of Rooms: @Model.AccomodationPackage.NoOfRoom</strong>
                    <p>
                        @Model.AccomodationPackage.AccomodationType.Description
                    </p>
                </div>
                @*
                    Repeat as same to navbar template picture here... AccomodationPackage.AccomodationType.Description
                    <div class="amenities-img animate-box" style="height:400px; background-image: url(/images/site/@oUrl);"></div>
                *@
                @if (Model.AccomodationPackage.PackagePictures != null && Model.AccomodationPackage.PackagePictures.Count > 0)
                {
                    foreach (var oPic in Model.AccomodationPackage.PackagePictures.Where(x => x.Picture.PicUrl != oUrl))
                    {
                        <div class="amenities-img animate-box" style="height:400px; background-image: url(/images/site/@oPic.Picture.PicUrl);"></div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 animate-box">
                <h3>Get In Touch</h3>
                <form action="#" id="frmConfirmBooking">
                    <input type="hidden" name="AccomodationPackageID" value="@Model.AccomodationPackage.ID" />
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="FromDate">Check In Date</label>
                            @*<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>*@
                            <input type="text" id="FromDate" name="FromDate" class="form-control" placeholder="Check In Date" autocomplete="off">
                            @*<span class="far fa-calendar-alt form-control-feedback right" aria-hidden="true"></span>*@
                        </div>
                        <div class="col-md-6">
                            <label for="lname">Duration of Stay Nights</label>
                            @*<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>*@
                            <select id="Duration" name="Duration" class="form-control" placeholder="Duration of Stay Nights">
                                @for (int iNights = 1; iNights <= 10; iNights++)
                                {
                                    <option value="@iNights">@iNights</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="NoOfAdults">No of Adults</label>
                            <input type="number" id="NoOfAdults" name="NoOfAdults" class="form-control" value="1" min="1" max="10">
                        </div>
                        <div class="col-md-6">
                            <label for="NoOfAdults">No of Children</label>
                            <input type="number" id="NoOfChildren" name="NoOfChildren" class="form-control" value="0" min="0" max="10">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="GuestName">Guest Name</label>
                            <input type="text" id="GuestName" name="GuestName" class="form-control" placeholder="Guest Name">
                        </div>
                        <div class="col-md-6">
                            <label for="Email">Email</label>
                            <input type="text" id="Email" name="Email" class="form-control" placeholder="Your email address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="Notes">Add Special Notes</label>
                            <textarea name="Notes" id="Notes" cols="30" rows="10" class="form-control" placeholder="Add Special Notes"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="button" id="btnBooking" value="Check Availability" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#FromDate').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '+3d'
    });

    $('#btnBooking').click(function () {
        $.ajax({
            url: '@Url.Action("Availability", "Accomodations")',
            data: $("#frmConfirmBooking").serialize()
		})
		.done(function (resp) {
			$("#actionModal .modal-dialog").html(resp);
		});
    });
</script>